<%= render 'books/list', books: @book %>


<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td>
</a>          </td>
          <td></td>
          <td></td>
            <td><a class="btn btn-sm btn-success edit_book_40492" href="/books/40492/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_40492" rel="nofollow" data-method="delete" href="/books/40492">Destroy</a></td>
        </tr>
      </tbody></table>
    </div>